In [8]:
# import packages
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from optbinning import BinningProcess, Scorecard
from optbinning.scorecard import plot_auc_roc, plot_ks

In [9]:
# read in data
ifood = pd.read_csv('ifood_df.csv')

In [10]:
# drop highly correlated variables
ifood_rdu = ifood.drop(['Z_CostContact', 'Z_Revenue', 'MntTotal', 'MntRegularProds', 'AcceptedCmpOverall'], axis=1)

In [11]:
# convert target variable to binary
ifood_rdu['Response'] = ifood_rdu['Response'].astype('category')

# list all categorical predictor variables
ifood_cat = ['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5',
             'education_2n Cycle', 'education_Basic', 'education_Graduation', 'education_Master', 'education_PhD',
             'marital_Divorced', 'marital_Married', 'marital_Single', 'marital_Together', 'marital_Widow',
             'Kidhome', 'Teenhome', 'Complain'
            ]

# convert all variables in list to categorical
ifood_rdu[ifood_cat] = ifood_rdu[ifood_cat].apply(pd.Categorical)

In [12]:
# split data into response and predictor variables
X = ifood_rdu.loc[:, ifood_rdu.columns != 'Response']
y = ifood_rdu['Response']

# 70-30 train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1234)

In [ ]:
# bin continuous variables
colnames = list(X_train.columns)

# variable selection (IV >= 0.05)
selection_criteria = {"iv": {"min": 0.05, "max": 1}}

# binning criteria
bin_proc = BinningProcess(colnames, selection_criteria = selection_criteria, categorical_variables = ifood_cat)

# fit the model
iv_all = bin_proc.fit(X_train, y_train).summary()

# sort variables by IV and print results
iv_all[iv_all.columns[0:6]].sort_values(by = ["iv"], ascending = False)

                    name        dtype   status  selected n_bins        iv
4               MntWines    numerical  OPTIMAL      True      8  0.576877
6        MntMeatProducts    numerical  OPTIMAL      True      8  0.570438
12   NumCatalogPurchases    numerical  OPTIMAL      True      6  0.564378
17          AcceptedCmp5  categorical  OPTIMAL      True      2  0.542956
9           MntGoldProds    numerical  OPTIMAL      True      9  0.489834
0                 Income    numerical  OPTIMAL      True      8  0.447777
18          AcceptedCmp1  categorical  OPTIMAL      True      2  0.438378
22         Customer_Days    numerical  OPTIMAL      True      9  0.418622
3                Recency    numerical  OPTIMAL      True      8  0.374457
15          AcceptedCmp3  categorical  OPTIMAL      True      2  0.353404
11       NumWebPurchases    numerical  OPTIMAL      True      7  0.274043
8       MntSweetProducts    numerical  OPTIMAL      True      6  0.238826
2               Teenhome  categorical  OPTIMAL      True      2  0.229503
5              MntFruits    numerical  OPTIMAL      True      8  0.229072
13     NumStorePurchases    numerical  OPTIMAL      True      4  0.219011
7        MntFishProducts    numerical  OPTIMAL      True      5  0.148234
16          AcceptedCmp4  categorical  OPTIMAL      True      2  0.143189
25        marital_Single  categorical  OPTIMAL      True      2  0.107903
14     NumWebVisitsMonth    numerical  OPTIMAL      True      6  0.097674
10     NumDealsPurchases    numerical  OPTIMAL      True      5  0.086924
21                   Age    numerical  OPTIMAL      True      4  0.084717
26      marital_Together  categorical  OPTIMAL      True      2  0.052854
24       marital_Married  categorical  OPTIMAL      True      2  0.052436
32         education_PhD  categorical  OPTIMAL     False      2  0.036974
1                Kidhome  categorical  OPTIMAL     False      2  0.033082
23      marital_Divorced  categorical  OPTIMAL     False      2  0.031798
28    education_2n Cycle  categorical  OPTIMAL     False      2  0.012767
30  education_Graduation  categorical  OPTIMAL     False      2  0.002939
31      education_Master  categorical  OPTIMAL     False      2  0.000004
19          AcceptedCmp2  categorical  OPTIMAL     False      1       0.0
20              Complain  categorical  OPTIMAL     False      1       0.0
27         marital_Widow  categorical  OPTIMAL     False      1       0.0
29       education_Basic  categorical  OPTIMAL     False      1       0.0