# Overview
Exploratory data analysis of the ifood dataset detailing customer spending habits and campaign response patterns.
The general process of EDA is as follows:
- variable type analysis/transformations
- variable distributional analysis
- anomaly detection (outliers, separation issues, missing data)
- association analysis (check for high correlation)

data source: https://www.kaggle.com/datasets/jackdaoud/marketing-data

In [ ]:
# import needed packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# read in marketing data
ifood = pd.read_csv('ifood_df.csv')

# Variable Type Analysis

In [3]:
# data conversions
# numeric -> categorical (binary/ordinal indicators)

# convert target variable to binary
ifood['Response'] = ifood['Response'].astype('category')

# list all categorical predictor variables
ifood_cat = ['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmpOverall',
             'education_2n Cycle', 'education_Basic', 'education_Graduation', 'education_Master', 'education_PhD',
             'marital_Divorced', 'marital_Married', 'marital_Single', 'marital_Together', 'marital_Widow',
             'Kidhome', 'Teenhome', 'Complain'
            ]

# convert all variables in list to categorical
ifood[ifood_cat] = ifood[ifood_cat].apply(pd.Categorical)

In [4]:
print(ifood.dtypes)

Income                   float64
Kidhome                 category
Teenhome                category
Recency                    int64
MntWines                   int64
MntFruits                  int64
MntMeatProducts            int64
MntFishProducts            int64
MntSweetProducts           int64
MntGoldProds               int64
NumDealsPurchases          int64
NumWebPurchases            int64
NumCatalogPurchases        int64
NumStorePurchases          int64
NumWebVisitsMonth          int64
AcceptedCmp3            category
AcceptedCmp4            category
AcceptedCmp5            category
AcceptedCmp1            category
AcceptedCmp2            category
Complain                category
Z_CostContact              int64
Z_Revenue                  int64
Response                category
Age                        int64
Customer_Days              int64
marital_Divorced        category
marital_Married         category
marital_Single          category
marital_Together        category
marital_Widow           category
education_2n Cycle      category
education_Basic         category
education_Graduation    category
education_Master        category
education_PhD           category
MntTotal                   int64
MntRegularProds            int64
AcceptedCmpOverall      category
dtype: object

# Variable Distributions

In [5]:
desc = ifood.describe()
print(desc)

              Income      Recency     MntWines    MntFruits  MntMeatProducts  \
count    2205.000000  2205.000000  2205.000000  2205.000000      2205.000000
mean    51622.094785    49.009070   306.164626    26.403175       165.312018
std     20713.063826    28.932111   337.493839    39.784484       217.784507
min      1730.000000     0.000000     0.000000     0.000000         0.000000
25%     35196.000000    24.000000    24.000000     2.000000        16.000000
50%     51287.000000    49.000000   178.000000     8.000000        68.000000
75%     68281.000000    74.000000   507.000000    33.000000       232.000000
max    113734.000000    99.000000  1493.000000   199.000000      1725.000000

       MntFishProducts  MntSweetProducts  MntGoldProds  NumDealsPurchases  \
count      2205.000000       2205.000000   2205.000000        2205.000000
mean         37.756463         27.128345     44.057143           2.318367
std          54.824635         41.130468     51.736211           1.886107
min           0.000000          0.000000      0.000000           0.000000
25%           3.000000          1.000000      9.000000           1.000000
50%          12.000000          8.000000     25.000000           2.000000
75%          50.000000         34.000000     56.000000           3.000000
max         259.000000        262.000000    321.000000          15.000000

       NumWebPurchases  NumCatalogPurchases  NumStorePurchases  \
count      2205.000000          2205.000000        2205.000000
mean          4.100680             2.645351           5.823583
std           2.737424             2.798647           3.241796
min           0.000000             0.000000           0.000000
25%           2.000000             0.000000           3.000000
50%           4.000000             2.000000           5.000000
75%           6.000000             4.000000           8.000000
max          27.000000            28.000000          13.000000

       NumWebVisitsMonth  Z_CostContact  Z_Revenue          Age  \
count        2205.000000         2205.0     2205.0  2205.000000
mean            5.336961            3.0       11.0    51.095692
std             2.413535            0.0        0.0    11.705801
min             0.000000            3.0       11.0    24.000000
25%             3.000000            3.0       11.0    43.000000
50%             6.000000            3.0       11.0    50.000000
75%             7.000000            3.0       11.0    61.000000
max            20.000000            3.0       11.0    80.000000

       Customer_Days     MntTotal  MntRegularProds
count    2205.000000  2205.000000      2205.000000
mean     2512.718367   562.764626       518.707483
std       202.563647   575.936911       553.847248
min      2159.000000     4.000000      -283.000000
25%      2339.000000    56.000000        42.000000
50%      2515.000000   343.000000       288.000000
75%      2688.000000   964.000000       884.000000
max      2858.000000  2491.000000      2458.000000

# Variable Anomolies

In [6]:
# check for missing data
missing_values = ifood.isnull().sum()
missing_columns = missing_values[missing_values > 0]
print(missing_columns)

Series([], dtype: int64)

In [7]:
# check for separation issues
for var in ifood_cat :
    print(pd.crosstab(ifood['Response'], ifood[var]))

AcceptedCmp1     0   1
Response
0             1809  63
1              254  79
AcceptedCmp2     0   1
Response
0             1862  10
1              313  20
AcceptedCmp3     0   1
Response
0             1786  86
1              256  77
AcceptedCmp4     0    1
Response
0             1770  102
1              271   62
AcceptedCmp5     0   1
Response
0             1802  70
1              242  91
AcceptedCmpOverall     0    1   2   3   4
Response
0                   1601  222  39   9   1
1                    146  100  42  35  10
education_2n Cycle     0    1
Response
0                   1696  176
1                    311   22
education_Basic     0   1
Response
0                1820  52
1                 331   2
education_Graduation    0    1
Response
0                     911  961
1                     181  152
education_Master     0    1
Response
0                 1564  308
1                  277   56
education_PhD     0    1
Response
0              1497  375
1               232  101
marital_Divorced     0    1
Response
0                 1690  182
1                  285   48
marital_Married     0    1
Response
0                1116  756
1                 235   98
marital_Single     0    1
Response
0               1504  368
1                224  109
marital_Together     0    1
Response
0                 1364  508
1                  273   60
marital_Widow     0   1
Response
0              1814  58
1               315  18
Kidhome      0    1   2
Response
0         1055  773  44
1          221  110   2
Teenhome    0    1   2
Response
0         903  923  46
1         236   92   5
Complain     0   1
Response
0         1855  17
1          330   3

In [8]:
# outlier detection

# save all numeric variables as a list
ifood_num = desc.columns.tolist()

# loop through all numeric variables to identify outliers with IQR
for var in ifood_num :
    # calculate 25th and 75th percentile
    Q1 = ifood[var].quantile(0.25)
    Q3 = ifood[var].quantile(0.75)
    IQR = Q3 - Q1

    # define outlier bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # identify outliers
    outliers = ifood[(ifood[var] < lower_bound) | (ifood[var] > upper_bound)]
    print(f"{var} outliers:")
    print(outliers)

Income outliers:
Empty DataFrame
Columns: [Income, Kidhome, Teenhome, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Z_CostContact, Z_Revenue, Response, Age, Customer_Days, marital_Divorced, marital_Married, marital_Single, marital_Together, marital_Widow, education_2n Cycle, education_Basic, education_Graduation, education_Master, education_PhD, MntTotal, MntRegularProds, AcceptedCmpOverall]
Index: []

[0 rows x 39 columns]
Recency outliers:
Empty DataFrame
Columns: [Income, Kidhome, Teenhome, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Z_CostContact, Z_Revenue, Response, Age, Customer_Days, marital_Divorced, marital_Married, marital_Single, marital_Together, marital_Widow, education_2n Cycle, education_Basic, education_Graduation, education_Master, education_PhD, MntTotal, MntRegularProds, AcceptedCmpOverall]
Index: []

[0 rows x 39 columns]
MntWines outliers:
       Income Kidhome Teenhome  Recency  MntWines  MntFruits  MntMeatProducts  \
102   68126.0       0        0       40      1332         17              311
150   70356.0       0        0       20      1349         16              249
281   55951.0       0        1       62      1241          0               80
407   93027.0       0        0       77      1285         42              716
413   84865.0       0        0        1      1248         16              349
449   75261.0       0        0       17      1239         17              413
480   78642.0       0        1       83      1396          0              322
498   81169.0       0        0       47      1288         20              613
506   70503.0       0        0       73      1379         33              216
526   84169.0       0        0        9      1478         19              403
542   87771.0       0        1       61      1492         38              287
804   87771.0       0        1       61      1492         38              287
806   93404.0       1        2       97      1279         15              287
850   70123.0       0        0       27      1308          0              396
897   84169.0       0        0        9      1478         19              403
917   67536.0       0        1       45      1253          0              447
967   75759.0       0        0       46      1394         22              708
970   85683.0       0        0        6      1296         17              311
981   95169.0       0        0        1      1285         21              449
1032  69098.0       0        0       82      1315         22              780
1171  67369.0       0        1       81      1298          0               70
1433  93790.0       0        0       16      1302         68              731
1463  76998.0       0        1       85      1449         89              161
1467  87679.0       0        0       62      1259        172              815
1552  81574.0       0        0       89      1252          0              465
1616  64140.0       0        2       71      1459          0               61
1723  80360.0       0        0       56      1493         86              454
1896  91249.0       0        0       84      1324         27              119
1927  72335.0       0        0        2      1285        105              653
1935  71670.0       0        0        8      1462         16              128
1966  91712.0       0        0       47      1276         24              746
2039  77610.0       0        1       70      1245         33              332
2066  81929.0       1        0       60      1486         55              278
2095  82333.0       0        0       60      1311          0              359

      MntFishProducts  MntSweetProducts  MntGoldProds  ...  marital_Together  \
102                23                51            86  ...                 0
150                43                16            33  ...                 0
281                 0                13            40  ...                 1
407                55                 0            21  ...                 0
413                43                16            16  ...                 0
449                23                34            17  ...                 1
480                46                35            17  ...                 1
498                80                61            27  ...                 0
506                 0                33            66  ...                 0
526                 0                19             0  ...                 0
542                50                57            33  ...                 1
804                50                57            33  ...                 1
806                20                 0            15  ...                 0
850                23                 0             0  ...                 1
897                 0                19             0  ...                 0
917                23                71            35  ...                 0
967                89                91           182  ...                 0
970                45                69            51  ...                 0
981               106                20            20  ...                 0
1032              145                 0           178  ...                 0
1171               37                14            42  ...                 0
1433               89               114            45  ...                 0
1463               69                35           107  ...                 0
1467               97               148            33  ...                 1
1552               46                35             0  ...                 1
1616                0                15           215  ...                 0
1723              112                43            43  ...                 0
1896               71               108            27  ...                 0
1927               28                21             0  ...                 1
1935                0                 0           160  ...                 0
1966               94                29            48  ...                 0
2039               21                33            16  ...                 0
2066               49                 0           185  ...                 0
2095               46                89            17  ...                 0

      marital_Widow  education_2n Cycle  education_Basic  \
102               0                   0                0
150               0                   0                0
281               0                   0                0
407               0                   0                0
413               0                   0                0
449               0                   0                0
480               0                   0                0
498               0                   0                0
506               0                   0                0
526               0                   0                0
542               0                   0                0
804               0                   0                0
806               0                   0                0
850               0                   0                0
897               0                   0                0
917               0                   0                0
967               0                   0                0
970               0                   0                0
981               0                   0                0
1032              0                   0                0
1171              1                   0                0
1433              0                   0                0
1463              0                   0                0
1467              0                   0                0
1552              0                   0                0
1616              0                   0                0
1723              0                   0                0
1896              0                   0                0
1927              0                   0                0
1935              1                   0                0
1966              0                   0                0
2039              0                   0                0
2066              0                   0                0
2095              0                   0                0

      education_Graduation education_Master education_PhD MntTotal  \
102                      0                0             1     1734
150                      0                0             1     1673
281                      0                1             0     1334
407                      0                0             1     2098
413                      0                0             1     1672
449                      0                0             1     1726
480                      0                0             1     1799
498                      0                1             0     2062
506                      1                0             0     1661
526                      0                0             1     1919
542                      1                0             0     1924
804                      1                0             0     1924
806                      1                0             0     1601
850                      0                0             1     1727
897                      0                0             1     1919
917                      0                0             1     1794
967                      1                0             0     2304
970                      1                0             0     1738
981                      0                0             1     1881
1032                     0                0             1     2262
1171                     0                1             0     1419
1433                     1                0             0     2304
1463                     1                0             0     1803
1467                     1                0             0     2491
1552                     0                0             1     1798
1616                     0                0             1     1535
1723                     0                0             1     2188
1896                     1                0             0     1649
1927                     0                0             1     2092
1935                     0                0             1     1606
1966                     0                1             0     2169
2039                     0                0             1     1664
2066                     0                1             0     1868
2095                     0                0             1     1805

     MntRegularProds AcceptedCmpOverall
102             1648                  1
150             1640                  0
281             1294                  2
407             2077                  1
413             1656                  4
449             1709                  2
480             1782                  0
498             2035                  0
506             1595                  2
526             1919                  2
542             1891                  4
804             1891                  4
806             1586                  2
850             1727                  2
897             1919                  2
917             1759                  1
967             2122                  3
970             1687                  4
981             1861                  2
1032            2084                  0
1171            1377                  2
1433            2259                  3
1463            1696                  1
1467            2458                  3
1552            1798                  2
1616            1320                  3
1723            2145                  3
1896            1622                  4
1927            2092                  0
1935            1446                  3
1966            2121                  1
2039            1648                  0
2066            1683                  2
2095            1788                  1

[34 rows x 39 columns]
MntFruits outliers:
       Income Kidhome Teenhome  Recency  MntWines  MntFruits  MntMeatProducts  \
0     58138.0       0        0       58       635         88              546
17    76995.0       0        1       91      1012         80              498
27    84618.0       0        0       96       684        100              801
42    79941.0       0        0       72       123        164              266
49    82582.0       0        0       54       510        120              550
...       ...     ...      ...      ...       ...        ...              ...
2152  67716.0       0        1        8       530        142              217
2161  73803.0       0        1       61       833         80              363
2170  73807.0       0        1       88       366        124              156
2173  61014.0       0        1       17       269        129              495
2184  82032.0       0        0       54       332        194              377

      MntFishProducts  MntSweetProducts  MntGoldProds  ...  marital_Together  \
0                 172                88            88  ...                 0
17                  0                16           176  ...                 0
27                 21                66             0  ...                 0
42                227                30           174  ...                 0
49                156                40           241  ...                 0
...               ...               ...           ...  ...               ...
2152               62                 9            56  ...                 0
2161               52                26           174  ...                 0
2170               71                78            54  ...                 0
2173              182                43            29  ...                 0
2184              149               125            57  ...                 0

      marital_Widow  education_2n Cycle  education_Basic  \
0                 0                   0                0
17                0                   0                0
27                0                   0                0
42                0                   0                0
49                0                   0                0
...             ...                 ...              ...
2152              0                   0                0
2161              0                   0                0
2170              0                   0                0
2173              0                   0                0
2184              1                   0                0

      education_Graduation education_Master education_PhD MntTotal  \
0                        1                0             0     1529
17                       0                1             0     1606
27                       0                0             1     1672
42                       1                0             0      810
49                       1                0             0     1376
...                    ...              ...           ...      ...
2152                     1                0             0      960
2161                     1                0             0     1354
2170                     1                0             0      795
2173                     1                0             0     1118
2184                     0                0             1     1177

     MntRegularProds AcceptedCmpOverall
0               1441                  0
17              1430                  1
27              1672                  1
42               636                  0
49              1135                  2
...              ...                ...
2152             904                  1
2161            1180                  1
2170             741                  0
2173            1089                  0
2184            1120                  0

[245 rows x 39 columns]
MntMeatProducts outliers:
       Income Kidhome Teenhome  Recency  MntWines  MntFruits  MntMeatProducts  \
20     2447.0       1        0       42         1          1             1725
27    84618.0       0        0       96       684        100              801
47    79143.0       0        0        2       650         37              780
70    75251.0       0        0       34       721        111              925
71    75825.0       0        0       40      1032        105              779
...       ...     ...      ...      ...       ...        ...              ...
2154  84117.0       0        0       60       611         76              749
2157  89616.0       0        0       36       671         47              655
2160  82347.0       0        0       38       556         54              845
2178  88325.0       0        0       42       519         71              860
2180  80617.0       0        0       42       594         51              631

      MntFishProducts  MntSweetProducts  MntGoldProds  ...  marital_Together  \
20                  1                 1             1  ...                 0
27                 21                66             0  ...                 0
47                 27               167            32  ...                 0
70                 97                18            18  ...                 0
71                137               105            51  ...                 0
...               ...               ...           ...  ...               ...
2154               59                45            26  ...                 0
2157              145               111            15  ...                 0
2160              202               133            63  ...                 0
2178               93                27            53  ...                 1
2180               72                55            32  ...                 0

      marital_Widow  education_2n Cycle  education_Basic  \
20                0                   0                0
27                0                   0                0
47                0                   0                0
70                0                   0                0
71                0                   0                0
...             ...                 ...              ...
2154              0                   0                0
2157              0                   0                0
2160              0                   1                0
2178              0                   0                0
2180              0                   1                0

      education_Graduation education_Master education_PhD MntTotal  \
20                       1                0             0     1729
27                       0                0             1     1672
47                       0                1             0     1661
70                       0                1             0     1872
71                       1                0             0     2158
...                    ...              ...           ...      ...
2154                     0                0             1     1540
2157                     0                1             0     1629
2160                     0                0             0     1790
2178                     1                0             0     1570
2180                     0                0             0     1403

     MntRegularProds AcceptedCmpOverall
20              1728                  0
27              1672                  1
47              1629                  0

# Correlations

In [ ]:
# idenfity highly correlated variables (above 0.75 or below -0.75)
correlation_matrix = ifood.corr()
pos_threshold = 0.75
neg_threshold = -0.75
high_corr_pairs = correlation_matrix.where(
    ((correlation_matrix >= pos_threshold) | (correlation_matrix <= neg_threshold)) & (correlation_matrix != 1.0)).stack()
print("\nHighly Correlated Pairs:")
print(high_corr_pairs)

Highly Correlated Pairs:
Income               MntTotal               0.823066
                     MntRegularProds        0.816879
MntWines             MntTotal               0.902310
                     MntRegularProds        0.901848
MntMeatProducts      MntTotal               0.861392
                     MntRegularProds        0.860663
NumCatalogPurchases  MntTotal               0.791187
                     MntRegularProds        0.778742
MntTotal             Income                 0.823066
                     MntWines               0.902310
                     MntMeatProducts        0.861392
                     NumCatalogPurchases    0.791187
                     MntRegularProds        0.996569
MntRegularProds      Income                 0.816879
                     MntWines               0.901848
                     MntMeatProducts        0.860663
                     NumCatalogPurchases    0.778742
                     MntTotal               0.996569
dtype: float64